/* the body custom styleing */
.body {
  background: url(assets\images\hotel-wallpaper.jpg);
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}
/* the navbar-brand style */
.navbar-brand {
  background-color: #4aaaa5;
  padding: 10px;
  color: white;
  margin-left: 7%;
  font-weight: bolder;
}
/* the navbar stle */
.navbar {
  background-color: white;
}
/* use this style for my container class */
.container {
  margin: 0 auto;
}

/* hope this makes footer stick for each page */
footer {
  background-color: #666666;
  color: white;
  border-top: 8px solid #4aaaa5;
  width: 100%;
}

#aboutme {
  width: 100%;
  color: #4aaaa5;
  border-bottom: #dddddd 2px solid;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  margin-top: 0px;
  font-size: 30px;
  font-family: "Georgia", Times, "Times New Roman", serif;
}
/* nav-links black text with underline decoration styling */
.nav-link {
  color: black;
  text-decoration: underline;
}
/* this will be the primarry button in the navbar with my name */
.btn-primary {
  background-color: #4aaaa5;
}
